@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-sarif";
}

body {
  background-color: #000000;
  overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: #f8fc05;
    text-decoration: none;
    text-shadow: 0 0 5px #ffffff;
}

.navbar a{
    font-size: 18px;
    font-weight: 500;
    color:#f8fc05;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color:  #000000;
    text-shadow: 0 0 3px #f8fc05;
}

.main {
  height: 100vh;
  background-color: #393838;
}

.main.active{
  filter: blur(15px);
}

.container{
 display: flex;
 height: 100vh;
 width: 200%;
}

.home {
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  max-width: 600px;
  border: 2px solid #000000;
  height: 400px;
  display: flex;
  justify-content: center;
  box-shadow:0 0 10px #f8fc05;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}

.home-content h1 {
  font-size: 78px;
  font-weight: 700;
  text-shadow: 0 0 10px #f8fc05;
}

.home-content p {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 2px #dfe07a;
  margin-bottom: 30px;
}

.home-content .start-btn {
  width: 160px;
  height: 50px;
  color: #ffffff;
  font-size: 20px;
  background: black;
  border: 2px solid  #f8fc05;
  outline: none;
  border-radius: 50px;
  box-shadow:0 0 10px #f8fc05;
  letter-spacing:2px;
  font-weight: 600;
  cursor: pointer;
}

.home-content .start-btn:hover{
  background: #393838;
  color: black;
  box-shadow:none;
}

.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50% , -50%) scale(0.8);
  border:2px solid #000000;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(77, 74, 74);
  box-shadow:0 0 10px black;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.popup-info.active{
  opacity: 1;
  transform:translate(-50% , -50%) scale(1);
  pointer-events: auto;
}


.popup-info h2 {
  font-size: 60px;
  font-weight: 600;
  text-shadow: 0 0 10px #f8fc05;
}

.popup-info .info{
  font-size: 25px;
  font-weight: 400;
  color: #000000;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  border-top: 2px solid black;
  padding: 15px 0px;
  margin-top: 10px;
}

.popup-info .btn-group .info-btn {
  width: 140px;
  height: 50px;
  color: #000000;
  font-size: 20px;
  background: rgb(58, 58, 58);
  border: 2px solid  #000000;
  outline: none;
  border-radius: 50px;
  letter-spacing:2px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.popup-info .btn-group :nth-child(1):hover{
  background: #a3a741;
  color: #000000;
  box-shadow:0 0 10px black;
}

.popup-info .btn-group :nth-child(2):hover{
  background: #a3a741;
  color: #000000;
  box-shadow:0 0 10px black;
}

.quiz-section{
  position: relative;
  left: -50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #393838;
  transition: .8s ease-in-out;
  transition-delay: .1s;
}

.quiz-section.active{
  left: 0;
  z-index: 100;
}

.quiz-info{
  border: 2px solid  #f8fc05;
  border-radius: 6px;
  padding: 10px 25px;
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}


.quiz-info.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  transition: .5s ease-in-out;
  transition-delay: .8s;
}

.quiz-info .quiz-heading{
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(25deg, transparent  ,#f8fc05 , transparent );
}

.quiz-info .quiz-header {
  display: flex;
  justify-content: space-between;
  margin-top:15px;
  align-items: center;
  border-bottom:1px solid  #f8fc05;
  padding-bottom: 15px;
}

.quiz-header .score{
  background: #aaac2a;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}

.quiz-header .time {
  font-weight: 600;;
}

.quiz-info .ques-statment{
  font-size: 30px;
  margin-top: 10px;
}

.quiz-info .options .option{
  border: 1px solid grey;
  margin-top: 9px;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-weight: 500;

}

.quiz-info .options .option:hover{
  background: #656426;
  border-color: #f8fc05;
}

.quiz-info .quiz-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f8fc05;
  margin-top: 20px;
  padding: 10px 2px;
}

.quiz-info .quiz-footer .next-ques {
  width: 70px;
  height: 40px;
  color: black;
  font-size: 20px;
  background: grey;
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  letter-spacing:2px;
  font-weight: 600;
  cursor: pointer;
}

.quiz-info .quiz-footer .next-ques:hover{
  background:  #656426;
  border-color: #f8fc05;
}

.quiz-footer .total-ques{
  font-weight: 600;
}






